/* STRUCTURE */

* {
margin: 0;
}
 
html, body {
height: 100%;
}

/*
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
 */


body{
	position: relative;
	font-size: 12px;
/* 
	margin: 0 0 60px;
 */
}

#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#wrapper{
	width: 50%;
	margin: 50px auto 0 auto;
}

header{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 20px 0 60px 0;
/*	background: #EEE;

background: url('../images/linedpaper.png') repeat;
*/
}

#logo{
		width: 50%;
		margin: 20px auto 0 auto;
		text-align: center;
    font-family: FuturaBT-Medium;	
		text-decoration: none;
		color: #DB9B07;
		padding: 3px;
}

#logo a:hover{
		color: #EC704F;
}

#tagline{
		width: 50%;
		margin: 10px auto 0 auto;
		text-align: center;
		font-family: FuturaBT-Medium;
		font-size: 0.85em;
		letter-spacing: 0.2em;
		text-transform: uppercase;
}

#login{
	width: 50%;
	margin: 0 auto;
	text-align: right;
}

#note{
		width: 100%;
		margin: 0 auto;
/* 
		
	border: 2px solid #333;
 */
}

#notebox{
	width: 100%;
	margin-top: 25px;
}

#emailbox{
	width: 50%;
}

#checksend{
	margin-top: 40px;
	float: left;
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	font-size: 0.85em;
	color: #666;
	letter-spacing: 0.2em;
}

.checkInput{
	width: 20px;
	height: 20px;
	border: 2px solid #333;
	float: left;
}

.checkInput label{
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
/*
	top: 0;
	left: 0;
*/
	background: #eee;
/* 	border:2px solid #333; */
}

.checkInput label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 5px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkInput label:hover::after {
	opacity: 0.5;
}

.checkInput input[type=checkbox]:checked + label:after {
	opacity: 1;
}

#checkCopy{
	float: right;
	margin: 8px 10px;
}

button#sendnote{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
  text-shadow: none;
  padding: 18px 34px;
	letter-spacing: 0.2em;
	font-size: inherit;
	line-height: normal;
}

button#sendnote{
	background-color: #FFF;
    color: #EC704F;
    border: 2px solid #EC704F;
    box-shadow: none;
    float: right;
    cursor: pointer;
    margin-top: 20px;
}
button#sendnote:hover{
    color: #FFFFFF;
    background-color: #EC704F;
    }

#aboutsocial{
	width: 120px;
	margin: 0 auto;
}
footer{
/* 
		width: 100%;
		left: 0;
		bottom: 0;    
		position: absolute;
 */
		height: 50px;
		border-top: 2px solid #DDD;
}

/* 
footer, .push {
clear: both;
}
 */

.push {
height: 60px;
}

#footer-nav{
		width: 50%;
		margin: 0 auto;
}

#footer-links{
		float: right;
		text-align: right;
}

#social{
		float: left;
}

#editable{
	min-height: 400px;
	width: 100%;
}



/* Other pages */

#contact{

	margin: 0 auto;
	text-align: center;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #666;
	font-style: italic;
}


/* TYPE etc */

input#emailinput{
	margin: 0;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #666;
	padding: 15px 0 10px 0px;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	vertical-align: inherit;
	border-radius: 1px;
	box-shadow: none;
	height: auto;
}

span#email{
	margin: 0;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #999;
	padding-bottom: 10px;
	border-bottom: 2px solid #333;
}

textarea#writenote{
	width: 100%;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #333;
	padding: 10px 0;
	resize: vertical;
	outline: none;
	resize: none;
	border: none;
	line-height: 1.4em;
	box-shadow: none;
}

#about{
	width: 100%;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.4em;
	color: #333;
	padding: 10px 0;
	resize: vertical;
	outline: none;
	resize: none;
	border: none;
	line-height: 1.4em;
	text-align: left;
}

h1{
	font-size: 4.5em;
}

h2{
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-style: italic;
	color: #666;
	font-size: 1.2em;
	font-weight: 200;
	text-align: center;
	margin: 50px auto 10px auto;
}

h2:before{
	color: inherit;
	opacity: inherit;
	content: "-";
	padding: 0 5px;
}

h2:after{
	color: inherit;
	opacity: inherit;
	content: "-";
	padding: 0 5px;

}

#login{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.2em;
}

#login a{
	text-decoration: none;
	color: #333;
}

#login a:hover{
	text-decoration: none;
	color: #EC704F;
}

#logo h1{
	margin: 0;
}

#tagline h3{
			font-weight:normal;
			color: #666;
			font-size: 1.1em;
			margin-left: 30px;
}

#tagline h3 a{
			color: #333;
			text-decoration: underline;
/*
			font-style: normal;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: 200;
			font-size: 1.2em;
*/
}

#tagline h3 a:hover{
			color: #EC704F;
			font-style: normal;
}

.circle{
			color: #FF7765;
			border: 2px solid #FF7765;
				border-radius: 50%;
				-moz-border-radius: 50%; 
    -webkit-border-radius: 50%;
			width: 12px;
			height: 12px;
/* 			font-size: 0.5em; 
			line-height: 1em;*/
			display: inline-block;

}

a#brand{
		color: #DB9B07;
		text-decoration: none;
		border-right: solid 3px #333;
		padding-right: 2px;
}

a.email{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	color: #EC704F;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-align: center;
	display: block;
	font-style: normal;
}

#about a.aboutus{
	color: #333;
	text-decoration: underline;
	font-style: italic;
}

#about a.aboutus:hover{
	color: #EC704F;
}

#about li{
	float: left;
	padding: 10px;
}

#about li.fb a{
	width:40px;
	height: 40px;
	background: url('../images/socialogos2.png');
	background-size: 80px 80px;
	
}

#about li.fb a:hover{
	background: url('../images/socialogos2.png') -40px 0px;
	background-size: 80px 80px;
}

#about li.tw a{
	width:40px;
	height: 40px;
	background: url('../images/socialogos2.png') 0 -40px;
	background-size: 80px 80px;
	
}

#about li.tw a:hover{
	background: url('../images/socialogos2.png') -40px -40px;
	background-size: 80px 80px;
}

#footer-nav ul {
	text-align: center;
	padding: 0;
}

#footer-nav li{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	float: left;
	list-style: none;

	display: inline;
	font-size: 0.85em;
	color: #666;
	letter-spacing: 0.2em;
}

#social li {
	padding: 20px 20px 0 0;
}

#footer-links li {
	padding: 20px 0 0 20px;
}

#footer-nav li a{
	color: #666;
	text-decoration: none;
}

#footer-nav li a:hover{
	color: #DB9B07;
	text-decoration: none;
}

.fb a{
	width:20px;
	height: 20px;
	background: url('../images/socialogos.png') 0 0;
	background-size: 40px 40px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;
}

.fb a:hover{
	background: url('../images/socialogos.png') -20px 0px;
	background-size: 40px 40px;
}

.tw a{
	width:20px;
	height:18px;
	background: url('../images/socialogos.png') 0 -21px;
	background-size: 40px 40px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;

}

.tw a:hover{
	background: url('../images/socialogos.png') -20px -21px;
	background-size: 40px 40px;
}


@font-face
{
	font-family: Archer-Book;
	src: url('fonts/archer/archer-book-webfont.ttf');
}

@font-face
{
	font-family: Archer-Bold;
	src: url('fonts/archer/archer-bold-webfont.ttf');
}

/* MODAL STYLES */
button.btn{
	font-size: inherit;
	background: #FFF;
	border: none;
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #333;
	text-shadow: none;
	box-shadow: none;
	padding: 0;
	outline: none;
}

button.btn:hover{
	text-decoration: none;
	color: #EC704F;
	background: #FFF;
	outline: none;
}

button.btn:focus{
	background: none;
	outline: none;
}

.modal-backdrop{
	background: #FFF;
}

.modal{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	border-radius: 1px;
	text-shadow: none;
	box-shadow: none;
	font-size: 1em;
	color: #666;
	letter-spacing: 0.2em;
	text-align: center;
	width: 100%;
	left: 0;
	margin-left: 0;
	background: transparent;
	display: none;
	border: none;
}

.modal-dialog{
	width: 30%;
	margin: 0 auto;
	background: #FFF;
	border: solid 2px #333;
}

/*
#myModal{
	width: 50%;
	margin: 0 auto;
}
*/

button.close{
	font-weight: 100;
	color: #333;
	opacity: 1;
	text-shadow: none;
	font-size: 4em;
	line-height: 1em;
	color:#EC704F;
	margin: -10px 5px auto auto;
}
.modal-content{
	padding: 30px;
}

.modal-footer{
	width: 150px;
	margin: 20px auto;
	background: #FFF;
	border: none;
}

button#btnfb{
	width: 50px;
	height: 50px;
	background: url('../images/fb_icon.png') no-repeat;
	background-size: 50px 50px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;
	float: left;
}

button#btntw{
	width: 52px;
	height: 42px;
	background: url('../images/tw_icon.png') no-repeat;
	background-size: 52px 42px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;
	float: left;
	margin-left: 40px;
}


/* RESPONSIVE STYLES */

@media screen and (max-height: 900px) {
	
* {
		margin: 0;
	}
	
	footer{
		margin-bottom: 0;
	}
	
	#container{
		margin: 0;
	}
	
	footer{
		margin-top: 60px;
	}

}



@media screen and (max-width: 1440px) {
	
	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 70%;
	}
}

@media screen and (max-width: 1024px) {
	
	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 80%;
	}
		#emailbox{
		width: 100%;
	}
	
	.modal-dialog{
	width: 50%;
}

@media screen and (max-width: 800px) {

	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 80%;
	}
	#emailbox{
		width: 100%;
	}
	footer{
		margin-top: 60px;
	}
	.modal-dialog{
	width: 60%;
}



@media screen and (max-width: 540px) {
	
	.modal-dialog{
	width: 80%;
	}
	
	textarea#writenote, input#emailinput, span#email{
		font-size: 1.7em;
	}
	
	#checksend{
		font-size: 1em;
		margin-bottom: 20px;
	}
	
	button#sendnote, #login{
		font-size: 1.1em;
	}
		
	#wrapper{
		width: 80%;
	}
	
	#logo, #login, #tagline{
		width: 80%;
		text-align: left;
	}
	
	#sendarea{
		width: 80%;
	}
	
	h1{
		font-size: 5em;
	}
	
	#tagline h3{
		font-size: 1.2em;
		margin: 20px auto auto auto;
		line-height: 1.7em;
	}
	
	#emailbox{
		width: 100%;
	}

	#checkCopy{
		float: left;
		margin: 4px 10px;
	}
	
	button#sendnote{
		float: none;
		display: block;
	}
	
		
	#footer-links, #social{
		text-align: center;
		width: 100%;
		margin: 20px auto;
	}
	
	#footer-links li{
		padding: 0;
		float: none;
		display: block;
		width: 100%;
		font-size: 1.1em;
		line-height: 2em;
		text-align: left;
	}
		
	#social{
		width: 100px;
		margin: 0 auto;
	}
	
	#social li{
		float: left;
	}
	
	.fb a{
		width: 30px;
		height: 30px;
		background-size: 60px 60px;
	}
	
	.fb a:hover{
		background: url('../images/socialogos.png') -30px 0px;
		background-size: 60px 60px;
	}
	
	.tw a{
		width: 30px;
		height: 30px;
		background: url('../images/socialogos.png') 0 -30px;
		background-size: 60px 60px;
	}
	
	.tw a:hover{
		background: url('../images/socialogos.png') -30px 30px;
		background-size: 60px 60px;
	}
	
	#social li.tw{
		padding-right: 0;
		width: 25%;
	}
	
	#footer-nav{
		width: 80%;
		margin: 10px auto;
	}
}

	
@media screen and (max-width:480px) {
					

		
	}

}


