/* STRUCTURE */

* {
margin: 0;
}
 
html, body {
height: 100%;
}

body{
	position: relative;
	font-size: 12px;
/* 
	margin: 0 0 60px;
 */
}

#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#wrapper{
	width: 50%;
	margin: 40px auto 0 auto;
}

header{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 20px 0 60px 0;
/*	background: #EEE;

background: url('../images/linedpaper.png') repeat;
*/
}

#logo{
		width: 50%;
		margin: 20px auto 0 auto;
		text-align: center;
    font-family: FuturaBT-Medium;	
		text-decoration: none;
		color: #DAB327;
		padding: 3px;
}

#logo a:hover{
		color: #FF7765;
}

#tagline{
		width: 50%;
		margin: 10px auto 0 auto;
		text-align: center;
		font-family: FuturaBT-Medium;
		font-size: 0.85em;
		letter-spacing: 0.2em;
		text-transform: uppercase;
}

#login{
	width: 50%;
	margin: 0 auto;
	text-align: right;
}

#note{
		width: 90%;
		margin: 0 auto;
}

#gotnote{
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	background: #EEE;
}

#noteshare{
	margin: 30px auto;
	text-align: center;
}

#notebox{
	width: 100%;
	margin-top: 25px;
}

#emailbox{
	width: 50%;
}

#checksend{
	margin-top: 40px;
	float: left;
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	font-size: 0.85em;
	color: #666;
	letter-spacing: 0.2em;
}

.checkInput{
	width: 20px;
	height: 20px;
	border: 2px solid #333;
	float: left;
}

.checkInput label{
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
/*
	top: 0;
	left: 0;
*/
	background: #eee;
/* 	border:2px solid #333; */
}

.checkInput label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkInput label:hover::after {
	opacity: 0.5;
}

.checkInput input[type=checkbox]:checked + label:after {
	opacity: 1;
}

#checkCopy{
	float: right;
	margin: 8px 10px;
}

button#sendnote, button.thanksender, button.viewmashnote{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
  text-shadow: none;
  padding: 18px 34px;
	letter-spacing: 0.2em;
	font-size: 12px;
	line-height: normal;
	background-color: #FFF;
  color: #FF7765;
  border: 2px solid #FF7765;
  box-shadow: none;
  float: right;
  cursor: pointer;
  margin-top: 20px;
}

button#sendnote:hover, button.thanksender:hover{
    color: #FFFFFF;
    background-color: #FF7765;
}

button.thanksender{
		float: none;
		margin: 20px 10px 0 10px;
		height: 55px;
		width: 200px;
		padding: 0 34px;
}

button.viewmashnote{
	width: 200px;
	background: #EEE;
	float: none;
	padding: 0 34px;
	height: 55px;
	margin: 40px 0 20px 0;
}

button.viewmashnote:hover{
	color: #FFFFFF;
	background-color: #FF7765;
}

button.noteshare{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
  text-shadow: none;  
  padding: 0 34px;
	letter-spacing: 0.2em;
	font-size: inherit;
	line-height: normal;
	background-color: #FFF;
  color: #DAB327;
  border: 2px solid #eee;
  margin: 20px 10px 0 10px;
  float: none;
  width: 200px;
  height: 55px;
}

button.noteshare:hover{
	color: #DAB327;
	background-color: #EEE;
}

#aboutsocial{
	width: 120px;
	margin: 0 auto;
}

#emailcontent{
	width:800px;
	margin: 0 auto;
}

#emailcontent #gotnote{
	margin-top: 25px;
}

#emailcontent #notebox{
	margin-top: 0;
}

#thankshare{
	text-align: center;
	margin: 30px auto;
}

footer{
		height: 50px;
		border-top: 2px solid #DDD;
}

footer#emailfooter{
	width: 800px;
	margin: 0 auto;
}

.push {
	height: 60px;
}

#footer-nav{
		width: 50%;
		margin: 0 auto;
}

#footer-links{
		float: right;
		text-align: right;
}

#social{
		float: left;
}

#plane{
	position: absolute;
	z-index: 50;
	right: 15%;
	bottom: 40px;
	display: none;
}

#planelink{
	background: url('../images/plane.svg');
		background-position: -55px 0px;
	display: block;
	width: 55px;
	height: 72px;
	background-size: 110px 72px;

	/*
	
	transition-duration: 0.5s;	
	-webkit-transition-duration: 0.5s;
*/
	text-indent:-9999px;
}

#planelink:hover{
	background-position: 0px 0px;

}

#plane:hover{
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	transform:translate(10px, -15px);
	-webkit-transform:translate(5px,-20px);
	cursor: pointer;
}

#plane{
/* 	width: 50px; */
	transition-duration: 1s;	
	-webkit-transition-duration: 1s;
}

#editable{
	min-height: 400px;
	width: 100%;
}

/* Other pages */

#contact{

	margin: 0 auto;
	text-align: center;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #666;
	font-style: italic;
}
/* TYPE etc */

input#emailinput, span#emailinput{
	margin: 0;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #666;
	padding: 15px 0 10px 0px;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	vertical-align: inherit;
	border-radius: 1px;
	box-shadow: none;
	height: auto;
}

span#email{
	margin: 0;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #999;
	padding-bottom: 10px;
	border-bottom: 2px solid #333;
}

textarea#writenote, #writenote{
	width: 100%;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.7em;
	color: #333;
	padding: 10px 0;
	resize: vertical;
	outline: none;
	resize: none;
	border: none;
	line-height: 1.4em;
	box-shadow: none;
}

#writenote{
	padding: 0;
}

#writenote a{
	color:#FF7765;
}

#about{
	width: 100%;
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-size: 1.4em;
	color: #333;
	padding: 10px 0;
	resize: vertical;
	outline: none;
	resize: none;
	border: none;
	line-height: 1.5em;
}

h1{
	font-size: 4.5em;
}

h2{
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-style: italic;
	color: #666;
	font-size: 1.2em;
	font-weight: 200;
	text-align: center;
	margin: 50px auto 10px auto;
}

h2:before{
	color: inherit;
	opacity: inherit;
	content: "-";
	padding: 0 5px;
}

h2:after{
	color: inherit;
	opacity: inherit;
	content: "-";
	padding: 0 5px;

}


#login{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.2em;
}

#login a{
	text-decoration: none;
	color: #333;
}

#login a:hover{
	text-decoration: none;
	color: #FF7765;
}

#logo h1{
	margin: 0;
}

#tagline h3{
			font-weight:normal;
			color: #666;
			font-size: 1.1em;
			line-height: 1.7em;
			margin-top: 20px;
}

#tagline h3 a{
			color: #333;
			background: #FFF;
			text-decoration: underline;
/*
			font-style: normal;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: 200;
			font-size: 1.2em;
*/
}

#tagline h3 a:hover{
			color: #FF7765;
			text-decoration: underline;
			font-style: normal;
}

.circle{
			color: #FF7765;
			border: 2px solid #FF7765;
				border-radius: 50%;
				-moz-border-radius: 50%; 
    -webkit-border-radius: 50%;
			width: 12px;
			height: 12px;
/* 			font-size: 0.5em; 
			line-height: 1em;*/
			display: inline-block;

}

a#brand{
		color: #DAB327;
		text-decoration: none;
		border-right: solid 3px #333;
		padding-right: 2px;
}

a.email{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	color: #FF7765;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-align: center;
	display: block;
	font-style: normal;
}

#about a.aboutus{
	color: #333;
	text-decoration: underline;
	font-style: italic;
}

#about a.aboutus:hover{
	color: #FF7765;
}

#about li{
	float: left;
	padding: 10px;
}

#about li.fb a{
	width:40px;
	height: 40px;
	background: url('../images/socialogos2.png');
	background-size: 80px 80px;
	
}

#about li.fb a:hover{
	background: url('../images/socialogos2.png') -40px 0px;
	background-size: 80px 80px;
}

#about li.tw a{
	width:40px;
	height: 40px;
	background: url('../images/socialogos2.png') 0 -40px;
	background-size: 80px 80px;
}



#about li.tw a:hover{
	background: url('../images/socialogos2.png') -40px -40px;
	background-size: 80px 80px;
}

h3#emailnote{
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-weight: 100;
	font-style: italic;
	font-size: 1.8em;
	line-height: 1.5em;
	margin: 0 25px;
}

h3#thankyou{
	font-family: Baskerville, Baskerville Old Face, Perpetua, Palatino, Palatino Linotype, Palatino LT STD, Times New Roman, Times, serif;
	font-weight: 100;
	font-style: italic;
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 0 25px;
	text-align: center;
}

#footer-nav ul {
	text-align: center;
	padding: 0;
}

#footer-nav li{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	float: left;
	list-style: none;

	display: inline;
	font-size: 0.85em;
	color: #666;
	letter-spacing: 0.2em;
}

img.fb{
	width: 20px;
	height: 20px;
}

#social li {
	padding: 20px 20px 0 0;
}

#footer-links li {
	padding: 20px 0 0 20px;
}

#footer-nav li a{
	color: #666;
	text-decoration: none;
}

#footer-nav li a:hover{
	color: #DAB327;
	text-decoration: none;
}

.fb a{
	width:20px;
	height: 20px;
	background: url('../images/socialogos.png') 0 0;
	background-size: 40px 40px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;
}

.fb a:hover{
	background: url('../images/socialogos.png') -20px 0px;
	background-size: 40px 40px;
}

.tw a{
	width:20px;
	height:18px;
	background: url('../images/socialogos.png') 0 -21px;
	background-size: 40px 40px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;

}

.tw a:hover{
	background: url('../images/socialogos.png') -20px -21px;
	background-size: 40px 40px;
}


@font-face
{
	font-family: Archer-Book;
	src: url('fonts/archer/archer-book-webfont.ttf');
}

@font-face
{
	font-family: Archer-Bold;
	src: url('fonts/archer/archer-bold-webfont.ttf');
}

/* MODAL STYLES */
button.btn{
	font-size: inherit;
	background: #FFF;
	border: none;
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #333;
	text-shadow: none;
	box-shadow: none;
	padding: 0;
	outline: none;
}

button.btn:hover{
	text-decoration: none;
	color: #FF7765;
	background: #FFF;
	outline: none;
}

button.btn:focus{
	background: none;
	outline: none;
}

.modal-backdrop{
	background: #FFF;
}

.modal{
	font-family: FuturaBT-Medium;
	text-transform: uppercase;
	border-radius: 1px;
	text-shadow: none;
	box-shadow: none;
	font-size: 1em;
	color: #666;
	letter-spacing: 0.2em;
	text-align: center;
	width: 100%;
	left: 0;
	margin-left: 0;
	background: transparent;
	display: none;
	border: none;
}

.modal-dialog{
	width: 40%;
	margin: 0 auto;
	background: #FFF;
	border: solid 2px #333;
}

/*
#myModal{
	width: 50%;
	margin: 0 auto;
}
*/

button.close{
	font-weight: 100;
	color: #333;
	opacity: 1;
	text-shadow: none;
	font-size: 4em;
	line-height: 1em;
	color:#FF7765;
	margin: -10px 5px auto auto;
}
.modal-content{
	padding: 30px;
}

.modal-footer{
	width: 40%;
	margin: 20px auto;
	background: #FFF;
	border: none;
}

button#btnfb{
	width: 50px;
	height: 50px;
	background: url('../images/fb_icon.png') no-repeat;
	background-size: 50px 50px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;
	float: left;
}

button#btntw{
	width: 50px;
	height: 50px;
	background: url('../images/tw_icon.png') no-repeat;
	background-size: 50px 50px;
	font-size: 0;
	margin: 0;
	display:block;
	text-indent:-9999px;
	float: left;
	margin-left: 40px;
}


/* RESPONSIVE STYLES */

@media screen and (max-height: 900px) {
	
* {
		margin: 0;
	}
	
	footer{
		margin-bottom: 0;
	}
	
	#container{
		margin: 0;
	}
	
	footer{
		margin-top: 60px;
	}

}

@media screen and (max-width: 1440px) {
	
	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 60%;
	}
}

@media screen and(min-width: 1024px) and (max-width: 1440px){
	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 70%;
	}
	
	button.thanksender{
		margin: 20px 5px 0 5px;	
	}
	
	footer#emailfooter > #footer-nav{
		width: auto;
	}
}

@media screen and (max-width: 1024px) {
	
	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 80%;
	}
		#emailbox{
		width: 100%;
	}
	
	.modal-dialog{
	width: 50%;
	}
	
	button.thanksender{
		margin: 20px 5px 0 5px;	
	}
		
	#emailcontent{
		width: 800px;
	}	
}

@media screen and (max-width: 800px) {

	#wrapper, #logo, #login, #tagline, #footer-nav{
		width: 80%;
	}
	#emailbox{
		width: 100%;
	}
	footer{
		margin-top: 60px;
	}
	.modal-dialog{
	width: 60%;
	}
	
	button.thanksender{
		margin: 20px 10px 0 10px;	
	}
			
	#emailcontent{
		width: 90%;
	}	
	
	footer#emailfooter{
		width: 90%;
		margin: 0 auto;
	}


}



@media screen and (max-width: 540px) {
	
	.modal-dialog{
	width: 80%;
	}
	
	textarea#writenote, input#emailinput, span#email, span#emailinput, #writenote{
		font-size: 1.7em;
	}
	
	#checksend{
		font-size: 1em;
		margin-bottom: 20px;
	}
	
	button#sendnote, #login{
		font-size: 1.1em;
	}
	
	button.thanksender{
		text-align: left;
	}
	
	#noteshare{
		text-align: left;
	}
		
	#wrapper{
		width: 80%;
	}
	
	#note{
		width: 100%;
	}
	
	#emailcontent{
		width: 90%;
	}
	
	footer#emailfooter{
		width: 90%;
		margin: 0 auto;
	}
	

	
	#gotnote{
		margin: 0;
		width: auto;
	}
	
	#logo, #login, #tagline{
		width: 80%;
		text-align: left;
	}
	
	#sendarea{
		width: 80%;
	}
	
	#thankshare{
	text-align: left;
	margin: 30px 0;
	}
	
	h3#thankyou{
		text-align: left;
		margin: 0;
	}
	
	h1{
		font-size: 5em;
	}
	
	#tagline h3{
		font-size: 1.2em;
		margin-top: 20px;
	}

	#emailbox{
		width: 100%;
	}

	#checkCopy{
		float: left;
		margin: 4px 10px;
	}
	
	button#sendnote{
		float: none;
		display: block;
	}
	
	#footer-nav ul {
		margin: 0;
	}
		
	#footer-links, #social{
		text-align: center;
		width: 100%;
		margin: 20px auto;
	}
	
	#footer-links li{
		padding: 0;
		float: none;
		display: block;
		width: 100%;
		font-size: 1em;
		line-height: 2em;
		text-align: left;
	}
		
	#social{
		width: 100px;
		margin: 0 auto;
	}
	
	#social li{
		float: left;
	}
	
	.fb a{
		width: 30px;
		height: 30px;
		background-size: 60px 60px;
	}
	
	.fb a:hover{
		background: url('../images/socialogos.png') -30px 0px;
		background-size: 60px 60px;
	}
	
	.tw a{
		width: 30px;
		height: 30px;
		background: url('../images/socialogos.png') 0 -30px;
		background-size: 60px 60px;
	}
	
	.tw a:hover{
		background: url('../images/socialogos.png') -30px 30px;
		background-size: 60px 60px;
	}
	
	#social li.tw{
		padding-right: 0;
		width: 25%;
	}
	
	#footer-nav{
		width: 80%;
		margin: 10px auto;
	}
	
	.modal-footer{
		width: 80%;
	}

}

	
@media screen and (max-width:480px) {
					

		
	}

}


